#loading_spinner { display:none; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
  display: inline-block;
}

#basic-addon1{
	width: 200px;
}

#form-control{
	width: auto;
}

#input-group{
	width: auto;
}

.a{
  width: auto;
  height: 85%;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  color:#000000;
  background-color:#999999;
  margin-left:5px;
  font-size:large;
  border: 1px solid black;
  background-position:center center;
}
.b{
	height: 85%;
	width: 75%;
	font-size: large;
	border: 2px solid black;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    color:#000000;
    margin-left:5px;
    background-position:center center;
}
#checkbox{
	margin-left: 10px;
}

